$play-fair: 'Playfair Display';
$helvetica: 'Helvetica';

$bg-color: #eeeeee;
$secondary: #eeeeee;
$title-border: #a4a4a4;
$border-light: #d4d4d4;
$shadow: #a4a4a4;

$income: #45a749;
$expense: #eb3d30;

$delete: #a30000;

$block-margin: 1rem;
$block-padding: 1rem;

$bg-button: #7a4fbf;
$text-button: #ffffff;
