@import '../styles/variables';

.balance {
  margin: $block-margin 0;
  .title {
    font-weight: 300;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
  .amount {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -2px;
  }
}
