@import './styles/variables';

.app {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .expenseTracker {
    width: 360px;
  }
}
